@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* @import url("https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css");   */

body, 
select, 
textarea, 
.mainContent input{color:#333; font:12px/22px "Nanum Gothic","Malgun Gothic", "¸¼Àº °íµñ", dotum, sans-serif;}
select,
input[type="submit"],
input[type="button"]{cursor:pointer;}

a:link, a:visited{color:#333; text-decoration:none;}
a:hover, a:focus{color:#ca0300;}