@charset "utf-8";

/*전체여백빼기*/
html,body,div,span,
h1,h2,h3,h4,h5,h6,
ul,ol,li,dl,dt,dd,
p,q,blockqoute,cite,address,
table,fieldset,input,textarea,select
{margin:0; padding:0;}

/*제목요소*/
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}

/*목록*/
li{list-style-type:none;}

/*테두리*/
img,fieldset{border:0 none;}

/*숨기기*/
legend,
nav h2,
caption{position:absolute; left:-9999px; width:1px; height:1px; overflow:hidden; font-size:0; line-height:0;}

