<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="amenity">
	<select id="checkList" parameterType="map" resultType="com.sp.amenity.Amenity">
		select * from assetsBook a
		join assets s on s.assetsCode = a.assetsCode 
		join facility f on f.facilityCode = s.facilityCode
		join theme t on f.themeCode = t.themeCode
		join lockerInfo l on l.bookCode = a.bookCode
		where themeName =#{themeName} and useDate = #{yyyymmdd} and bookTime=#{daynum}
	</select>

	<select id="datanum" parameterType="map" resultType="Integer">
		select count(*) from
			(select * from assetsBook a
			join assets s on s.assetsCode = a.assetsCode 
			join facility f on f.facilityCode = s.facilityCode
			join theme t on f.themeCode = t.themeCode
			join lockerInfo l on l.bookCode = a.bookCode
			where themeName =#{themeName} and to_char(useDate,'yyyymmdd')=#{yyyymmdd} and bookTime=#{daynum}
			) 
	</select>	
	
		<select id="getCubeBookCancelDay" parameterType="Integer" resultType="com.sp.assets.Assets">
		select bookCode, useDate,usersCode
		from assetsBook 
		where usersCode = (
		    SELECT DISTINCT USERSCODE
		    FROM PAYMENT P
		    JOIN TICKET T ON P.PAYCODE = T.PAYCODE
		    WHERE P.PAYCODE = #{payCode}
		) 
		AND useDate = (
		    SELECT DISTINCT STARTDATE 
		    FROM PAYMENT P
		    JOIN TICKET T ON P.PAYCODE = T.PAYCODE
		    WHERE P.PAYCODE = #{payCode}
		)
		and assetsCode=3
	</select>
	
	<select id="okTicketIfPayCancledCube" parameterType="Integer" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM PAYMENT P
		JOIN TICKET T ON P.PAYCODE = T.PAYCODE
		WHERE USERSCODE = (
            SELECT DISTINCT USERSCODE
		    FROM PAYMENT P
		    JOIN TICKET T ON P.PAYCODE = T.PAYCODE
		    WHERE P.PAYCODE = #{payCode}
        )
        AND STARTDATE = (
		    SELECT DISTINCT STARTDATE 
		    FROM PAYMENT P
		    JOIN TICKET T ON P.PAYCODE = T.PAYCODE
		    WHERE P.PAYCODE = #{payCode}
		)
		AND P.PAYCODE != #{payCode}
	</select>
	
	<select id="payBookCode" parameterType="Integer" resultType="Integer">
		select bookCode from assetsBook a
			join member1 m on a.usersCode = m.usersCode
			join payment p on a.usersCode = p.usersCode
			where payCode=#{payCode}
	</select>
	
	<delete id="paydeleteLocker" parameterType="Integer">
		delete from lockerInfo
		where bookCode=#{cubepayCode}
	</delete>
	
	<delete id="paydeleteBook" parameterType="Integer">
		delete from assetsBook
		where bookCode=#{cubepayCode}
	</delete>
	
	<select id="checknum" parameterType="map" resultType="com.sp.amenity.Amenity">
		select *from assetsBook a 
			join lockerInfo l on l.bookCode=a.bookCode
			where assetsCode=3 and to_char(useDate,'yyyymmdd')=#{yyyymmdd}
	</select>
	
	<select id="checkcc" parameterType="map" resultType="Integer">
		select count(*) from(
			select *from assetsBook a 
			join lockerInfo l on l.bookCode=a.bookCode
			where assetsCode=3 and to_char(useDate,'yyyymmdd')=#{yyyymmdd})	
			</select>
	
	<delete id="cancel" parameterType="map">
		delete from assetsBook 
		where assetsCode=3 and to_char(useDate,'yyyymmdd')=#{yyyymmdd}
	</delete>
	
	<delete id="lockercancel" parameterType="map">
		delete from lockerInfo 
		where bookCode=#{num}
	</delete>
	
</mapper>