<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="card">
	<insert id="insertCard" parameterType="com.sp.card.Card">
		INSERT INTO Card(cardCode, cardName, startDate, endDate, memo, cardCo, discount, saveFilename, originalFilename, logoSaveFilename, logoOriginalFilename) 
    VALUES(card_seq.NEXTVAL,#{cardName},#{startDate},#{endDate},#{memo},#{cardCo},#{discount},#{saveFilename},#{originalFilename},#{logoSaveFilename},#{logoOriginalFilename})
	</insert>
</mapper> 