<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="finance">
	<select id="getSalePaymentQuarter" parameterType="map" resultType="com.sp.finance.Finance">
		SELECT ROWNUM AS RNUM, YEAR, QUARTER, SALEAMOUNT
		FROM 
		(
		    select YEAR, QUARTER, sum(TOTALSALE) as SALEAMOUNT
		    from ( 
		        select PAYDATE, (PRICE - DCPRICE) AS TOTALSALE
		        , to_char(to_date(PAYDATE,'yyyy-mm-dd'),'Q') as QUARTER 
		        , to_char(to_date(PAYDATE,'yyyy-mm-dd'),'YY') as YEAR
		        from PAYMENT
		    ) 
		    group by rollup(YEAR, QUARTER)
		)
		WHERE QUARTER IS NOT NULL
	</select>
	
	<select id="getExpenseRepairQuarter" parameterType="map" resultType="com.sp.finance.Finance">
		SELECT ROWNUM AS RNUM, YEAR, QUARTER, SALEAMOUNT
		FROM 
		(
		    select YEAR, QUARTER, sum(TOTALSALE) as SALEAMOUNT
		    from ( 
		        select REPAIRDATE, (COST) AS TOTALSALE
		        , to_char(to_date(REPAIRDATE,'yyyy-mm-dd'),'Q') as QUARTER 
		        , to_char(to_date(REPAIRDATE,'yyyy-mm-dd'),'YY') as YEAR
		        from REPAIR
		    ) 
		    group by rollup(YEAR, QUARTER)
		)
		WHERE quarter is not null
	</select>
	
	<select id="getExpenseGoodsInQuarter" parameterType="map" resultType="com.sp.finance.Finance">
		SELECT ROWNUM AS RNUM, YEAR, QUARTER, SALEAMOUNT
		FROM 
		(
		    select YEAR, QUARTER, sum(TOTALSALE) as SALEAMOUNT
		    from ( 
		        select INDATE, (QUANTITY * UNITPRICE) AS TOTALSALE
		        , to_char(to_date(INDATE,'yyyy-mm-dd'),'Q') as QUARTER 
		        , to_char(to_date(INDATE,'yyyy-mm-dd'),'YY') as YEAR
		        from GOODSIN
		    ) 
		    group by rollup(YEAR, QUARTER)
		)
		WHERE quarter is not null
	</select>
</mapper>