<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gift">

	<select id="seq" resultType="Integer">
			SELECT goods_seq.NEXTVAL FROM dual
	</select>
	
	<select id="listGubun" resultType="java.util.HashMap">
		SELECT gubuncode, gubunname, parentcode FROM goodsgubun 
		WHERE gubuncode != 2
		START WITH gubuncode=2                                  
		CONNECT BY PRIOR gubuncode=parentcode
	</select>
	
	<insert id="insertGift" parameterType="com.sp.giftshop.GiftShop">
	    INSERT INTO goods(goodsCode, goodsName, price, state, gubunCode) 
    	VALUES (#{goodsCode}, #{goodsName}, #{price}, #{state}, #{gubunCode})
	</insert>
	
	<insert id="insertFile" parameterType="map">
	 	INSERT INTO goodsImg(goodsImgCode ,saveFilename, originalFilename, goodsCode)
	 	VALUES (goodsImg_seq.NEXTVAL, #{saveFileName}, #{orignalFileName}, #{goodsCode})
	</insert>
	
	<select id="ListGift" parameterType="map" resultType="com.sp.giftshop.GiftShop">
		SELECT * FROM (
			    SELECT ROWNUM rnum, tb.* FROM(
			        SELECT goodsCode, goodsName, price, state, gubuncode
			        FROM goods
			        ORDER BY goodsCode DESC
			    ) tb
			    WHERE ROWNUM &lt;= #{end}
		)WHERE rnum &gt;=#{start}
	</select>
	
	<select id="readGoodsImg" parameterType="Long" resultType="map">
		 SELECT * FROM (
		    select goodsImgCode, saveFileName, originalFileName, goodsCode
		    FROM goodsImg
		    WHERE goodsCode = #{goodsCode}
		    ORDER BY goodsImgCode
		 )WHERE rownum=1
	</select>
</mapper>