<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<sql id="where-list">
	  <if test="searchKey=='all'">
	      (INSTR(memberName, #{searchValue}) &gt; 0)
	      OR
	      (INSTR(m2.usersCode, #{searchValue}) &gt; 0)
	  </if>
	</sql>

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*) FROM member1 m1
		JOIN member2 m2 ON m1.usersCode = m2.usersCode
		<where>
	     	<if test="searchValue!=null and searchValue!='' ">
	     	    <include refid="where-list"/>
	     	</if>
	    </where> 
	</select>
	
	<select id="list" parameterType="map" resultType="com.sp.member.Member">
		SELECT * FROM(
		    SELECT ROWNUM rnum, tb.* FROM(
		        SELECT m1.usersCode, memberId, memberName, enabled, TO_CHAR(birth, 'YYYY-MM-DD') birth, tel, gradeName
		        FROM member1 m1
		        JOIN member2 m2 ON m1.usersCode = m2.usersCode
		        JOIN grade g ON g.gradeCode = m2.gradeCode
		        <where>
			     	<if test="searchValue!=null and searchValue!='' ">
			     	    <include refid="where-list"/>
			     	</if>
			    </where> 
		<![CDATA[
		    )tb WHERE ROWNUM <= #{end}
		)WHERE rnum >= #{start}
		]]>
	</select>
	
	<select id="readMember" parameterType="Integer" resultType="com.sp.member.Member">
		SELECT m1.usersCode, memberId, memberName, enabled, 
            help, TO_CHAR(birth, 'YYYY-MM-DD') birth, tel, email, post, addr1, addr2, TO_CHAR(joinDate, 'YYYY-MM-DD') joinDate, joinPath, 
            g.gradeCode, gradeName
        FROM member1 m1
        JOIN member2 m2 ON m1.usersCode = m2.usersCode
        JOIN grade g ON g.gradeCode = m2.gradeCode
        WHERE m1.usersCode = #{usersCode}
	</select>
	
	<select id="gradelist" resultType="com.sp.member.Member">
		 SELECT gradeCode, gradeName FROM grade
	</select>
	
	<update id="updateGrade" parameterType="map">
		UPDATE member2 SET gradeCode=#{gradeCode} WHERE usersCode = #{usersCode} 
	</update>
	
	<update id="updateEnabled" parameterType="map">
		UPDATE member1 SET enabled=#{enabled} WHERE usersCode = #{usersCode} 
	</update>
	
	<select id="getUpdateGradeCode" resultType="com.sp.member.Member">
		SELECT m1.usersCode,
			NVL((SELECT gradeCode from grade where condition = (    
            		SELECT max(condition) 
                    FROM grade 
                    <![CDATA[
                    WHERE condition*10000 <= (
                    ]]>
                        SELECT sum(payPrice) totalPrice
                        FROM(
                            SELECT payPrice payPrice
                            FROM payment p 
                            JOIN cardInfo ci ON p.payCode = ci.payCode
                            JOIN payInfo pi ON p.payCode = pi.payCode
                            WHERE state = '승인완료' and usersCode = 3 and to_char(p.payDate,'yyyy') = to_char(sysdate,'yyyy')-1
                )))),1) gradeCode
	     FROM member1 m1
	     JOIN member2 m2 ON m1.usersCode = m2.usersCode
	     JOIN grade g ON g.gradeCode = m2.gradeCode
	</select>
	
	<update id="updateGradeCode" parameterType="com.sp.member.Member">
		UPDATE member2 SET gradeCode = #{gradeCode} WHERE usersCode = #{usersCode}
	</update>
</mapper>