<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="staff">
	<select id="loginStaff" parameterType="String" resultType="com.sp.staff.Staff">
		SELECT SI.usersCode, SI.staffId, SI.staffPwd, S.name, S.authority
		FROM STAFF S
		JOIN STAFFINFO SI ON S.USERSCODE = SI.USERSCODE
		WHERE staffId=#{staffId} AND working = 1
	</select>

	<select id="amIAdmin" parameterType="Integer" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM USERS
		WHERE USERSCODE = #{num} 
	</select>
	
	<!-- dataCount -->
	<select id="dataCount">
	
	</select>
	
	<!-- 회원리스트 : 전체/검색 -->
	<select id="listStaff" parameterType="map" resultType="com.sp.staff.Staff">
	
	</select>
	
	<!-- 유저코드주면 그걸로 회원검색 -->
	<select id="readStaff" parameterMap="Integer" resultType="com.sp.staff.Staff">
	
	</select>
	
	<!-- 수정 : 직위/부서/테마/등등등 수정해야해. 내정보, 관리자가 인사관리 할때도 필요-->
	<update id="updateStaff" parameterType="com.sp.staff.Staff">
	
	</update>
</mapper>